body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav img {
    height: 30px; 
    width: auto; 
    margin-right: 20px;
}

img {
    width: 200px;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    color: #ccc;   
    text-decoration: underline;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.column:hover {
    background-color: #ddd;
}

#name, #title {
    cursor: pointer;
}

#name:hover, #title:hover {
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
h1, h2, h3 {
    font-weight: bold;
}
p {
    line-height: 1.5;  
}

#advice-panel {
    width: 100%;
    background-color: #f4f4f4; /* Light gray background */
    padding: 20px;
    text-align: center; /* Center the content */
}

#advice {
    font-size: 1.5em; /* Makes the advice text larger */
    color: #333; /* Dark gray text color */
}

#fetch-advice {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer; /* Indicates that the button is clickable */
    margin-bottom: 10px;
}




